
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(45deg, rgb(13, 17, 23, 0.8), rgb(13, 17, 23, 0.84), rgb(13, 17, 20, 0.9), rgb(13, 17, 23, 0.8), rgb(13, 17, 23, 100));
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;

}
section{
    height: 100vh;
}
* {
    text-decoration: none;
    font-family: "inter", sans-serif;
    padding: 0;
    margin: 0;
}

#side-bar{
    background-color: rgb(255, 255, 255, 0.25);
    position: fixed;
    backdrop-filter: blur(8px);
    top:0px;
    height: 100vh;
    width:7%;
    z-index: 1;
    transition: display 200ms ease;
}
#side-list{
    background:rgb(0, 0, 0, 0.25);
    border-radius: 20px;
}

.nav-item{
    text-decoration: none;
    display: block;
    margin-top: 20px;
    font-size: larger;
    padding: 20px;
}

.nav-item i{
    margin-right:10px ;
    color:white;
    scale: 0.7;
}

.nav-item:hover{
    background-color: blue;
    border-left:solid 10px;
    border-radius: 2px;
    border-left-color:yellow ;
    
}
.nav-item a{
    text-decoration: none;
    color: white;
}
#clear{
    margin-top: 20px;
    margin-right: 20px;
    float: right;
    color: white;
}
#nav-header{
    background: rgb(0, 0, 0, 0.25);
    height: 150px;
    width: 100%;
}
#clear:hover{
    cursor: pointer;
    scale: 1.2;
}
#menu:hover{
    cursor: pointer;
    scale: 1.2;
}

/* -----------------------------Related to navigation bars---------------------------------- */


#menu {
    position: relative;
    padding-left: 20px;
    position: fixed;
   color: white;

}

/* ----------------------------------About me ------------------------------- */
.about-me {
    position: relative;
    padding-top: 50px ;
    margin-top: 50px;
    margin-left: 60px;
    /* background: aquamarine; */
}

.row{
    /* background: green; */
    margin-top:10px;
    max-inline-size: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
#note {
    background-color: rgb(217, 217, 217, 0.25);
    position: relative;
    border-radius: 20px;
    color: white;
    padding: 15px ;
    width: 30rem;
    height: 60vh;
}

.img-container{
    background-color: yellow;
    border-radius: 20px;
    width: 30rem;
    height:60vh;
    padding: 15px;
}

#download-pt {
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 90%;
    border: hidden;
    position: absolute;
    bottom: 20px;
}
/* ------------------------------------Socials----------------------------- */
#socials {
    text-align: center;
}

#socials li{
    display: inline;


}
#socials li i{
    margin: 30px;

}

#socials li a{
    text-decoration: none;
    color: white;
    transition: scale 200ms ease-in;
    
}
#socials  i:hover {
    cursor: pointer;
    scale: 1.2;

}

#menu,
button:hover {
    cursor: pointer;
}

