
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* #coreimg{
    scale: 0.4; 
    width: 500;
    height:700;
    display: inline-block;
    background-color: #FF7262;
    position: absolute;
    left: 0px;
    top:0px;
} */
body {
    background-image: linear-gradient(45deg, rgb(13, 17, 23, 0.8), rgb(13, 17, 23, 0.84), rgb(13, 17, 20, 0.9), rgb(13, 17, 23, 0.8), rgb(13, 17, 23, 100));
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;

}
section{
    height: 100vh;
    padding-top: 30px;
}
* {
    text-decoration: none;
    font-family: "inter", sans-serif;
    padding: 0;
    margin: 0;
}

#side-bar{
    background-color: rgb(255, 255, 255, 0.25);
    position: fixed;
    backdrop-filter: blur(8px);
    top:0px;
    justify-content: center;
    height: 100vh;
    width:7%;
    z-index: 1;
    transition: display 200ms ease;
}

.nav-item{
    text-decoration: none;
    display: block;
    margin-top: 20px;
    font-size: larger;
    padding: 20px;
}
.profile{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #000;
    overflow: hidden;
}
.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

.nav-item i{
    margin-right:10px ;
}
.nav-item svg{
    transition: 1s;
    padding: 10px;
    border-radius: 20px;
}
/* .nav-item svg:hover{
    scale: 1.2;
    background: #FF7262;
    filter: hue-rotate(360deg);
} */
.nav-item img{
    transition: 2s;
}
.nav-item img:hover{
    scale: 1.2;
    background: #FF7262;
    filter: hue-rotate(180deg);
}
.nav-item a{
    text-decoration: none;
    color: white;
    
}
#clear{
    margin-top: 20px;
    margin-right: 20px;
    float: right;
    color: white;
}
#nav-header{
    background: rgb(0, 0, 0, 0.25);
    height: 150px;
    width: 100%;
}
#clear:hover{
    cursor: pointer;
    scale: 1.2;
}
#menu:hover{
    cursor: pointer;
    scale: 1.2;
}

/* -----------------------------Related to navigation bars---------------------------------- */


#menu {
    position: relative;
    padding-left: 20px;
    position: fixed;
}

/* ----------------------------------About me ------------------------------- */
.about-me {
    position: relative;
    padding-top: 50px ;
    margin-top: 50px;
    margin-left: 200px;
    /* background: aquamarine; */
}

.row{
    /* background: green; */
    margin-top:10px;
    max-inline-size: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
#note {
    background-color: rgb(217, 217, 217, 0.25);
    position: relative;
    border-radius: 20px;
    color: white;
    padding: 15px ;
    width: 30rem;
    height: 60vh;
}

.about-me #coreimg,.coreimg{
    border-radius: 20px;
    width: 24rem;
    padding-bottom: 20px;
    border-radius: 50%;
    height:64vh;
    box-shadow: 10px 10px 30px #000;
    transition: 1s;
}
.about-me .coreimg:hover{
    background-color: rgb(217, 217, 217, 0.25);
    border-radius: 50%;
    width: 28rem;
    height:28;
    cursor: pointer;
}
#coreimg:hover{
    scale: 1.2;

}

.about-me p{
    word-spacing: 2px;
    line-height: 30px;
    text-indent: -5px;
    margin: 0 10px 0 20px;
}
#download-pt {
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 90%;
    border: hidden;
    position: absolute;
    bottom: 20px;
}
/* ------------------------------------Socials----------------------------- */
#socials {
    text-align: center;
}

#socials li{
    display: inline;


}
#socials li i{
    margin: 30px;
    transition: 1s;

}

#socials li a{
    text-decoration: none;
    color: white;
    transition: scale 200ms ease-in;
    
}
#socials  i:hover {
    cursor: pointer;
    scale: 1.2;

}

#menu,
button:hover {
    cursor: pointer;
}

